.theme-primary{
    background-color: #009be5;
}
.theme-light{
    background-color: #63ccff;
}
.theme-dark{
    background-color: #006db3;
}
.bg-first{
	background-color: #FAFAFA;
}
.bg-second{
	background-color: #F5F5F5;
}
.vh-100{
	height: 100vh;
}